<a href="https://colab.research.google.com/github/anitasahoo25/anita_aiml/blob/main/NESTED_PROGRAM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#1(a)
for i in range(0,6):
  for j in range(i):
    print(i,end=' ')
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [2]:
#1(b)
for i in range(5,0,-1):
  for j in range(0,i):
    print(i,end=' ')
  print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [3]:
#1(c)
n=int(input("enter a number:"))
for i in range(0,n):
  for j in range(i):
    print(i,end=' ')
  print()

enter a number:6

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [4]:
#1(d)
n=int(input("enter a number:"))
for i in range(n,0,-1):
  for j in range(0,i):
    print(i,end=' ')
  print()

enter a number:5
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [5]:
#1(e)
for i in range(0,6):
  for j in range(i):
    print(i,end=' ')
  print()
for i in range(4,0,-1):
  for j in range(0,i):
    print(i,end=' ')
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [6]:
#1(f)
for i in range(0,6):
  for i in range(i):
    print(i,end=' ')
  print()
n=int(input("n: "))
for i in range(n,0,-1):
  for j in range(0,i):
    print(i,end=' ')
  print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4
n: 6
6 6 6 6 6 6
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [9]:
#2(a)
for i in range(5,0,-1):
  for j in range(5,i-1,-1):
    print(j,end=' ')
  print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [10]:
#2(b)
for i in range(1,6):
  for j in range(5,i-1,-1):
    print(j,end=' ')
  print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [13]:
#2(c)
n=int(input("n: "))
for i in range(n,0,-1):
  for j in range(n,i-1,-1):
    print(j,end=' ')
  print()

n: 8
8
8 7
8 7 6
8 7 6 5
8 7 6 5 4
8 7 6 5 4 3
8 7 6 5 4 3 2
8 7 6 5 4 3 2 1

In [14]:
#2(d)
n=int(input("n: "))
for i in range(1,n):
  for j in range(n-1,i-1,-1):
    print(j,end=' ')
  print()

n: 8
7 6 5 4 3 2 1
7 6 5 4 3 2
7 6 5 4 3
7 6 5 4
7 6 5
7 6
7

In [16]:
#2(e)
for i in range(5,0,-1):
  for j in range(5,i-1,-1):
    print(j,end=' ')
  print()
for i in range(2,6):
    for j in range(5,i-1,-1):
      print(j,end=' ')
    print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [17]:
#3(a)
for i in range(0,6):
  for j in range(i,0,-1):
    print(j,end=' ')
  print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [18]:
#3(b)
for i in range(0,5+1):
  for j in range(5-i,0,-1):
    print(j,end=' ')
  print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [20]:
#3(c)
for i in range(0,6):
  for j in range(i,0,-1):
    print(j,end=' ')
  print()
for i in range(0,4+1):
  for j in range(4-i,0,-1):
    print(j,end=' ')
  print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [21]:
#4
for i in range(1,5):
  for j in range(0,5):
    c=(i+j)%2
    print(c,end=' ')
  print()

1 0 1 0 1
0 1 0 1 0
1 0 1 0 1
0 1 0 1 0

In [22]:
#5
for i in range(1,5+1):
  for j in range(1,i+1):
    c=j%2
    print(c,end=' ')
  print()

1
1 0
1 0 1
1 0 1 0
1 0 1 0 1